In [44]:
!pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: lxml in c:\users\jaich\anaconda3\lib\site-packages (from pandas-datareader) (4.8.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\jaich\anaconda3\lib\site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: pandas>=0.23 in c:\users\jaich\anaconda3\lib\site-packages (from pandas-datareader) (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jaich\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jaich\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaich\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jaich\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jaich\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jaich\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jaich\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jaich\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as data

In [46]:
start = '2020-01-01'
end = '2022-03-01'

df = data.DataReader('AAPL','yahoo',start,end)
df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2019-12-31  73.419998  72.379997  72.482498  73.412498  100805600.0  72.039886
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.683571
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  72.967201
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.548622
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.202721